extends layout

block content
    .pure-g.nav
        .pure-u-2-5
            h1.title Elvin Tan
        .pure-u-3-5
            .scan-NRIC NRIC# 123456789
    .scan__page-content
        .pure-g.scan-box__section
            .pure-u-1
                .scan-image
                    img(src='images/barcode.jpg') 
                    .scan-image-title SCAN TIN
        .tin__section-title
            h3 Tin History
        .tin__section.-first
            .pure-g
                .pure-u-2-5
                    .tin__title-section 
                        .tin__number 
                            span.pure-button.label #11112
                        .tin__status.returned
                            span.pure-button.label Returned
                .pure-u-3-5
                    .tin__info-section
                        .tin__info-row.tin__time
                            span.tin__time-title.row__title Time out 
                            span 12:30PM
                       .tin__info-row.tin__time
                           span.tin__time-title.row__title Time in 
                           span 3:15PM
        .tin__section
            .pure-g
                .pure-u-2-5
                    .tin__title-section 
                        .tin__number 
                            span.pure-button.label #11111
                        .tin__status.returned
                            span.pure-button.label Returned
                .pure-u-3-5
                    .tin__info-section
                        .tin__info-row.tin__time
                            span.tin__time-title.row__title Time out 
                            span 12:30PM
                       .tin__info-row.tin__time
                           span.tin__time-title.row__title Time in 
                           span 3:15PM
        .time-volunteered
            span.time-volunteered-title Total time volunteered 
            span 5.5 hours
        .checkout-buttons
            div 
                a.pure-button.button-large(href='#') Send certificate
            div
                a.pure-button.button-large.button-success(href='#') Assign new tin