extends layout

block content
    .pure-g.nav
        .pure-u-1-5
            h1.title Volunteers
        .pure-u-3-5
            form.pure-form
                fieldset
                    input(type='text', placeholder='Search volunteer')
        .pure-u-1-5.nav__add-new
            a.pure-button.pure-button-primary(href='#') Add new 
    .pure-g.content
        .pure-u-1.volunteer__table-container
            include _volunteer-table.jade
        .pure-u-1-3.volunteer__sidebar
            .volunteer__sidebar-close
                i.fa.fa-times-circle
            .volunteer__info
                .pure-g.volunteer__info-row
                    .pure-u-1-5.row__title Name
                    .pure-u-4-5 Elvin Tan
                .pure-g.volunteer__info-row
                    .pure-u-1-5.row__title NRIC
                    .pure-u-4-5 123456789
                .pure-g.volunteer__info-row
                    .pure-u-1-5.row__title Phone
                    .pure-u-4-5 123456789
                .pure-g.volunteer__info-row
                    .pure-u-1-5.row__title Address
                    .pure-u-4-5 20 Standard Street, Bugis 12345
            div
                a.button-large.pure-button.button-success(href='/checkout-tin') Assign new tin
                a.button-large.pure-button.button-secondary(href='/checkin-tin') Return Tin
            .tin__section-title
                h3 Current Tin
            .tin__section.-first
                .pure-g
                    .pure-u-2-5
                        .tin__title-section 
                            .tin__number 
                                span.pure-button.label #11113
                            .tin__status.assigned
                                span.pure-button.label Assigned
                    .pure-u-3-5
                        .tin__info-section
                            .tin__info-row.tin__time
                                span.tin__time-title.row__title Time out 
                                span 3:25PM
                            .tin__info-row.tin__time
                                span.tin__time-title.row__title Time in 
                                span --
            .tin__section-title
                h3 Tin History
            .tin__section.-first
                .pure-g
                    .pure-u-2-5
                        .tin__title-section 
                            .tin__number 
                                span.pure-button.label #11112
                            .tin__status.returned
                                span.pure-button.label Returned
                    .pure-u-3-5
                        .tin__info-section
                            .tin__info-row.tin__time
                                span.tin__time-title.row__title Time out 
                                span 12:30PM
                           .tin__info-row.tin__time
                               span.tin__time-title.row__title Time in 
                               span 3:15PM

    script(src="/scripts/main.js")