extends layout

block content
    div.pure-g.nav
        div.pure-u-2-5
            h1.title Elvin Tan
        div.pure-u-3-5
            .scan-NRIC NRIC# 123456789
    div.scan__page-content
        div.pure-g.scan-box__section
            div.pure-u-1
                div.scan-box SCAN TIN
        div.tin__section-title
            h3 Scanned Tin
        div.tin__section.-first
            div.pure-g
                div.pure-u-2-5
                    div.tin__title-section 
                        div.tin__number 
                            span.pure-button.label #11113
                        div.tin__status.assigned
                            span.pure-button.label Assigned
                div.pure-u-3-5
                    div.tin__info-section
                        div.tin__info-row.tin__time
                            span.tin__time-title.row__title Time out 
                            span 3:25PM