body, html, button, input, select, textarea, 
.pure-g [class *= "pure-u"] {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, b {
    font-weight: 700;
    margin: 0;
}

.row__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 2px;
    color: gray;
}

.button-success {
    background-color: #19A93B;
    color: #fff;
    border: 1px solid #19A93B;
}

.button-error {
    background-color: rgb(202, 60, 60);
    color: #fff;
    border: 1px solid rgb(202, 60, 60);
}

.button-secondary {
    background-color: rgb(66, 184, 221);
    color: #fff;
    border: 1px solid rgb(66, 184, 221);
}

.button-large {
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    padding: 15px 40px;
}

/******** VOLUNTEER NAVIGATION ********/

.nav {
    background-color: #eee;
    padding: 10px;
    height: 60px;
}

.nav .title {
    margin: 10px;
}

.nav input {
    height: 50px;
    width: 100%;
}

.nav__add-new {
    text-align: right;
}

.nav__add-new .pure-button {
    margin: 5px;
    height: 50px;
    padding: 15px 40px;
    width: auto;
}

/******** VOLUNTEER TABLE ********/

.volunteer__table {
    width: 100%;
}

.volunteer__table thead {
    background-color: #aaa;
    color: #fff;
}

.volunteer__table th, .volunteer__table td {
    padding: 1em 1.5em;
}

.volunteer__table tbody tr {
    cursor: pointer;
}

.volunteer__table tbody tr:hover, .volunteer__table tbody tr.selected {
    background-color: #E6F2FD;
}

/******** VOLUNTEER SIDEBAR ********/

.volunteer__sidebar {
    width: 33.3333%;
    position: relative;
}

.volunteer__sidebar-close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.volunteer__sidebar-close i {
    font-size: 1.5em;
    color: #999999;
    cursor: pointer;
}

.volunteer__info {
    padding: 15px;
}

.volunteer__info-row {
    padding: 5px 0;
}

/******** TIN ELEMENTS ********/

.tin__section {    
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.tin__section.-first {
    border-top: 1px solid #ccc;
}

.tin__title-section {
    padding-right: 20px;
}

.tin__section-title {
    padding: 15px;
}

.tin__title-section .label {
    cursor: default;
    width: 100%;
    padding: 5px;
    font-size: 13px;
}

.tin__title-section .label:hover {
    background-image: none;
}

.tin__number .label {
    cursor: default;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.tin__status.assigned .label {
    color: #19A93B;
    border: 1px solid #19A93B;
    background: transparent;
    padding: 5px;
}

.tin__info-row {
    padding-bottom: 10px;
}

.tin__info-row.-last {
    padding-bottom: 0;
}

.tin__info-row .row__title {
    margin-right: 10px;
}

/******** SCAN PAGES ********/

.scan__page {
    max-width: 500px;
    margin: 0 auto;
}

.tin-terms {
    margin: 20px;
    font-weight: 300;
    font-size: 0.9em;
    text-align: center;
}

.scan-NRIC {
    margin: 15px;
    font-size: 1.4em;
    color: #777777;
}

.scan-box__section {
    padding: 20px;
}

.scan-image {
    position: relative;
    width: 100%;
    height: 360px;
    text-align: center;
}

.scan-image img {
    max-width: 100%;
    max-height: 100%;
}

.scan-image-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    line-height: 360px;
    text-align: center;
    font-size: 2.7em;
    color: #fff;
}

.time-volunteered {
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
}

.time-volunteered-title {
    margin-right: 20px;
    font-weight: 300;
}

.scan-buttons .pure-button {
    margin-bottom: 15px;
}